/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');


body {
    /* font-family: 'Arial', sans-serif; */
     /* font-family: "Poppins", sans-serif; */
    font-family: "Anek Devanagari", sans-serif;
    background-color: #9DA2AF;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

fieldset{
    margin-bottom: 15px;
}

legend{
    font-weight: bold;
}

.search{
    width: 310px;
    height: 32px;
    margin-bottom: 10px;
}

.form-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 25px;
    border-radius: 10px;
    max-width: 1240px;
    margin: auto;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-bottom: 10px;

}

h2 {
    width: 300px;
    margin: auto;
    /* margin-bottom: 15px; */
    color: #333;
}

label{
    /* text-align: right; */
    margin-left: 20px;
    width: 185px;
    font-weight: bold;
    display: inline-block;
}

input{
    margin: 5px 0;
    width: 179px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0 5px;
}

.file{
    border: none;
    width: 184px;
}

img{
    float: right;
    border: 1px solid black;
    height: 195px;
    width: 200px;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn>button{
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 20px;
}


/* @media only screen and (min-width: 1237px) {
    input{
        width: 160px;
    }

}


@media only screen and (min-width: 11966px) {
    label{
        width: 160px;
        display: inline-block;
    }

    input{
        width: 160px;
    }

} */